@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

@mixin absolute($top: 0, $left: 0, $bottom: auto, $right: auto) {
    position: absolute;
    top: $top; 
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin flex-row ($justify: start, $align: center) {
    display: flex; flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column ($justify: start, $align: center) {
    display: flex; flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}